{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
      <link rel="stylesheet" href="{% static 'login.css' %}">
        <img src="/static/fabdb-logo.png" alt="fabdb logo">
        <h1>Login</h1>
        {% block content %}
          <form class="login-form" action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="loginbutton" value="Login">
          </form>
        {% endblock %}
  </head>
  <body>

  </body>
</html>
