{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <h1>All Contacts</h1>
    <p>This page has a list of all contacts in the database.</p>
    <div class="contacts">
      <table style="width:100%">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email Address</th>
          <th>Contact Type</th>
          <th>Owner</th>
          <th>Date Created</th>
        </tr>
        {% for contact in contacts %}
        <div class="contact">
          <tr>
            <td><a href="#"></a>{{contact.first_name}}</td>
            <td><a href="#"></a>{{contact.last_name}}</td>
            <td><a href="#"></a>{{contact.phone_number}}</td>
            <td><a href="#"></a>{{contact.email_address}}</td>
            <td><a href="#"></a>{{contact.contact_type}}</td>
            <td><a href="#"></a>{{contact.owner}}</td>
            <td><a href="#"></a>{{contact.date_created}}</td>
          </tr>
        </div>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
