{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Contacts</title>
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'all-contacts.css' %}">
    <img src="/static/fabdb.png" alt="fabdb logo">
    <h1>All Contacts</h1>
    <table>
      <tr>
        <th>Contact ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Contact Type</th>
        <th>Owner</th>
        <th>Date Created</th>
        <th>Last Updated</th>
      </tr>
      {% for contact in contacts %}
      <tr>
        <td>{{contact.contact_id}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.phone_number}}</td>
        <td>{{contact.email_address}}</td>
        <td>{{contact.contact_type}}</td>
        <td>{{contact.owner}}</td>
        <td>{{contact.date_created}}</td>
        <td>{{contact.last_updated}}</td>
      {% endfor %}
      </tr>
    </table>
  </body>
</html>
